@charset "UTF-8";

.kumar-one-regular {
  font-family: "Kumar One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 375px;
  margin: 0 auto;
  padding: 0
}

body.no-scroll {
  overflow: hidden;
}

.memo-list-container {
  width: 100%;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1;

  width: 100%;
  max-width: 375px;
  height: 150px;
  padding: 2rem 0;
  background: white;
  transform: translateX(-50%);
  border-bottom: 1px solid #ccc;
  /* height: 200px; */
}

#logo {
  display: flex;
  align-items: center;
}

#search {
  background: url('images/search_26dp_000000_FILL0_wght400_GRAD0_opsz24.svg') no-repeat right;
  padding-right: 1.5rem;
  width: 95%;
  /* margin: 0 auto; */
  outline: none;
}

#pc-add-btn {
  display: none;
}

input,
textarea {
  border: 1px solid black;
  width: 100%;
  padding: 0.5rem;
  line-height: 1.5;
}

#memo-list {
  margin-top: 150px;
}

ul {
  margin-top: 1rem;
  overflow: hidden;
}

li {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: transform 0.3s;
}

.title {
  font-weight: bold;
  padding: 0.25rem 0.25rem;
}

.meta {
  font-size: 0.75rem;
}

#add-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;

  width: 64px;
  height: 64px;
  background: aquamarine url('images/add_36dp_000000_FILL0_wght400_GRAD0_opsz40.svg') no-repeat center / 64px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;
}

#add-btn.hide {
  display: none;
}

#add-btn:hover {
  transform: scale(1.1);
}

#memo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100%;
  max-width: 375px;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-100%);
  z-index: 2;
  background: white;
}

#memo-area.active {
  transform: translateY(0);
}

#memo-header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
}

#memo-content {
  flex: 1;
}

#memo-title,
#memo-content {
  border: none;
  outline: none;
  color: #555;
}

.memo-list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.icon-btn {
  transition: transform 0.3s;
}

.icon-btn:hover {
  opacity: 0.5;
  transform: scale(1.2);
}

#save-notice {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
  background: aquamarine;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#save-notice.display {
  opacity: 1;
}

@media (min-width: 800px) {
  body {
    display: flex;
    max-width: 1200px;
  }

  #add-btn {
    display: none;
  }

  .memo-list-container {
    /* border-right: 1px solid #ccc; */
    padding: 0 1rem;
    flex: 1;
    overflow-y: auto;
    height: 100vh;
  }

  header {
    max-width: 1200px;
    padding: 2rem 1rem;
    z-index: 20;
    flex-direction: row;
    justify-content: space-between;
  }

  #pc-add-btn {
    display: block;
    background: aquamarine;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
  }
  
  #logo {
   margin-right: auto; 
  }

  #search {
    max-width: 300px;
    margin-right: auto;
  }

  #memo-area {
    /* display: none; */
    visibility: hidden;
    flex: 2;
    max-width: none;
    transform: none;
    position: static;
    padding: 150px 0 0 0;
    overflow-y: auto;
    height: 100vh;
    z-index: 21;
  }

  #memo-area.active {
    /* display: block; */
    visibility: visible;
  }

  #memo-header {
    padding: 1rem 2rem;
    gap: 2rem;
    width: 100%;
  }

  #memo-content {
    overflow-y: auto;
  }

  .icon-btn img {
    width: 36px;
    height: 36px;
  }

  textarea {
    padding: 2rem;
  }

  li:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}
