@charset "UTF-8";

.kumar-one-regular {
  font-family: "Kumar One", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  height: 100%;
}

div {
  background: #fff;
}

/* MEMO-LIST */
.memo-list-container {
  max-width: 375px;
  margin: 0 auto;
  height: 100dvh;
}

.memo-list-container.no-scroll {
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  max-width: 375px;
  height: 150px;
  padding: 2rem 0;
  background: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#search {
  background: url('images/search_26dp_000000_FILL0_wght400_GRAD0_opsz24.svg') no-repeat 0.5rem center;
  padding: 0.5rem 0.5rem 0.5rem 2.4rem;
  width: 90%;
  text-align: left;
  border-radius: 0.5rem;
  border: 1px solid black;
  outline: none;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
}

li {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.memo-list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.25rem;
}

.meta {
  font-size: 0.75rem;
}

/* MEMO-AREA */

#memo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  max-width: 375px;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transform: translateY(-100%);
  z-index: 2;
  background: #fff;
}

#memo-area.active {
  transform: translateY(0);
}

#memo-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
}

#memo-content {
  flex: 1;
}

#memo-title,
#memo-content {
  width: 100%;
  padding: 0.5rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  border: none;
  outline: none;
  color: #555;
}

.icon-btn {
  transition: transform 0.3s;
}

.icon-btn:hover {
  opacity: 0.5;
  transform: scale(1.2);
}


#save-notice {
  position: absolute;
  top: 10%;
  right: 0;
  transition: opacity 0.3s;
  background: aquamarine;
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
}

#save-notice.display {
  opacity: 1;
}

/* ADD-BUTTON */
#pc-add-btn {
  display: none;
}

#sp-add-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  
  width: 64px;
  height: 64px;
  background: aquamarine url('images/add_36dp_000000_FILL0_wght400_GRAD0_opsz40.svg') no-repeat center / 64px;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  transition: transform 0.3s;
}

#sp-add-btn:hover {
  transform: scale(1.1);
}

#sp-add-btn.hide {
  display: none;
}

.explanation {
  display: none;
}

.style {
  text-align: center;
  color: #555;
  margin-top: 1rem;
}

@media (min-width: 800px) {
  body {
    background: #ddd;
  }

  .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* MEMO-LIST */
  .memo-list-container {
    flex: 1;
    overflow-y: auto;
    max-width: 1000px;
    height: 100dvh;
  }

  #memo-list {
    padding: 0 1rem 1rem;
  }
  
  #search {
    max-width: 400px;
  }
  
  #memo-area {
    flex: 2;
    max-width: none;
    position: relative;
    padding: 0 1rem;
  }
  
  #memo-header {
    height: 100px;
    gap: 2rem;
    width: 100%;
  }
  
  #memo-content {
    overflow-y: auto;
  }
  
  .icon-btn img {
    width: 36px;
    height: 36px;
  }
  
  #memo-content {
    padding: 2rem;
  }

  .explanation {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; 
}

.explanation.hide {
  display: none;
}
  
  li:hover {
    background: #eee;
  }

  .memo-list-row,
  .memo-list-row div {
    background: transparent;
  }

  #sp-add-btn {
    display: none;
  }
  
  #pc-add-btn {
    display: block;
    background: aquamarine;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
  }

  #pc-add-btn:hover {
    transform: scale(1.1);
  }

  #pc-add-btn.hide {
    display: none;
  }

}
